// PORTFOLIO
// TECHNOLOGIES


// PORTFOLIO

#portfolio{
  background-color: $lightest;
  // display: flex;
  // align-items: stretch;
  // justify-content: space-between;
  #portfolio-nav li{
    @extend h3;
    color: $light;
    margin: auto 1rem;
  }
  .active{
    @extend .underline-yellow;
    color: $darker;
  }
}

#portfolio-container{
  display: flex;
  align-items: stretch;
  .portfolio-item{
    box-sizing: border-box;
    padding: 0;
    // display: flex;
    // flex-direction: column;
    // align-items: stretch;
    &:hover{
        box-shadow: 6,  16, 16, rgba(0,0,0,0.33) !important;
        transition: .2s;
    }
    .item-show{
      // order: 2;
      display: flex;
      .item-show-title{
        flex: 1;
        display: flex;
        align-content: center;
        .item-meta{
          align-self: center;
        }
      }
      .item-show-img{
        flex: 2;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;

        }
      }
    }
    .item-hover{
      display: flex;
      align-content: center;
      .item-meta{
        align-self: center;
      }
    }
  }
  li.tag{
    @extend h4;
    color: $blue;
    background-color: $lighter;
    padding: .4rem 1rem;
    margin:0;
    margin-right: .6rem;
    margin-bottom: .6rem;
  }


}

/* TECHNOLOGIES */
#skillset svg{
  max-width: 4rem;
  margin-bottom: 1.2rem ;
  margin-right: 1.2rem;
}
