//     PORTFOLIO


// PORTFOLIO

#portfolio{
  background-color: $lightest;
  // display: flex;
  // align-items: stretch;
  // justify-content: space-between;
  li{
    @extend h3;
    color: $light;
    margin: auto 1rem;
  }
  .active{
    @extend .underline-yellow;
    color: $darker;
  }
}

.shadow{
  box-shadow: 6,  12, 24, rgba(0,0,0,0.12);
}

#portfolio-container{
  display: flex;
  align-items: stretch;

}
.portfolio-item{
  box-sizing: border-box;
  padding: 0;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;

  @media screen and (min-width: $break-small) {

  }
  .item-show{
    // order: 2;
    display: flex;
    .item-show-title{
      flex: 1;
      display: flex;
      align-content: center;
      .item-meta{
        align-self: center;
      }

    }
    .item-show-img{
      flex: 2;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }
  }
  .item-hover{
    display: flex;
    align-content: center;
    .item-meta{
      align-self: center;
      .h4.tag{
        color: $blue;
        background-color: $lighter;
        padding: .4rem 1rem;
        margin-right: .6rem;
      }
    }
  }


}
