
@import url('https://fonts.googleapis.com/css?family=Muli:400i,700,800|Source+Sans+Pro:400,400i,600,700,900|Source+Serif+Pro:400,600,700');


*{
  box-sizing: border-box;
}

*, html, body{
  color: $mid;
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}
