//     LINKS AND BUTTONS
//     HR
//     WIDTHS AND HEIGHTS
//     MARGINS AND PADDINGS
//     MAKE EQUAL HEIGHT

//     LINKS AND BUTTONS


a:hover{
  text-decoration: none;
}
a.underline{
  text-decoration: underline;
}
a, .btn{
  font-family: $sans;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &:hover > .btn-arrow{
    margin-left: 1rem;


  }
}

a.animated-underline{
    text-decoration: none !important;
    padding-bottom: .4rem;
    border-bottom: 2px solid $red;
    transition: .3s;
    &:hover{
        border-bottom: 2px solid transparent;
        padding-bottom: 1rem;
        transition: 1s;
      }
}
a.animated-underline-blue{
  @extends a.animated-underline ;
  border-bottom: 2px solid $blue;
  &:hover{
      border-bottom: 2px solid transparent;
      padding-bottom: 1rem;
      transition: 1s;
    }
}

a.add-peace:hover:after{
  content: ' »';
  transition: 1s;

}
.btn-primary{
  background-color: $blue;
  border-radius: 0;
  border: 0;
  font-family: 'Source Sans Pro', Lucida, sans-serif;
  padding: 1rem 3rem;
}
.btn-secondary{
  background-color: $red;
  border-radius: 0;
  border: 0;
  font-family: 'Source Sans Pro', Lucida, sans-serif;
  padding: 1rem 3rem;
}
.btn-outline{
  background-color: transparent;
  border-radius: 0;
  border: 1px solid $blue;
  font-family: 'Source Sans Pro', Lucida, sans-serif;
  padding: 1rem 3rem;
  color: $blue !important;
}
.btn-outline:hover{
  background-color: $blue;
  border: 1px solid $blue;
  color: #fff !important;

}
.btn-outline-white{
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #fff;
  font-family: 'Source Sans Pro', Lucida, sans-serif;
  padding: 1rem 3rem;
  color: #fff !important;
}
.btn-outline-white:hover{
  background-color: #fff;
  border: 1px solid #fff;
  color: red !important;
  /* transition-duration: 0.3s;
  transition-property: all; */
}
.btn-accordion{
  background-color: #eee8e4;
  border-radius: 5rem;
  border: 0;
  padding: 1rem 3rem;
}
.btn.arrow-right{

}


/* WIDTHS AND HEIGHTS */
.width-100{
  width:100%
}
.width-66{
  width: 66%;
}
.width-80{
  width: 80%;
}
.width-50{
  width: 50%;
}
.width-fitcontent{
  width: fit-content;
}
.minheight-2rem{
  min-height: 2rem;
}
.minheight-4rem{
  min-height: 4rem;
}
.minheight-6rem{
  min-height: 6rem;
}
.minheight-8rem{
  min-height: 8rem;
}
.minheight-10rem{
  min-height: 10rem;
}
.minheight-16rem{
  min-height: 16rem;
}
.minheight-20rem{
  min-height: 20rem;
}
.minheight-30rem{
  min-height: 30rem;
}
.minheight-32rem{
  min-height: 32rem;
}
.minheight-50vh{
  height: 50vh;
}
.minheight-66vh{
  min-height: 66vh;
}
.height-20rem{
  height: 20rem;
}
.height-24rem{
  height: 24rem;
}
.height-30rem{
  height: 30rem;
}
.height-32rem{
  height: 32rem;
}
.height-100{
  height: 100%;
}


/* MARGINS AND PADDINGS */
