//   III. Typography
//     NAVIGATION
//     ABOVE THE FOLD
//     ABOVE THE FOLD CTA
//     PORTFOLIO
//     PRODUCT AND SERVICES
//     OVERLAY

#navigation{
  padding: 2rem;
}
#navigation img#logo{
  width: 12rem;
}
#right-nav{
  padding: .4rem 1.2rem .8rem;
  border: 1px solid transparent;
}
