// COLORS
$red: #e4002b ;
$blue: #303ab2;

$yellow-rgba: rgba(244,246,138,0.20);
$yellow: #f4f68a;

$light: #bdb7b3;// #bbbbbb;
$lighter: #ededed;
$lightest: #f9f9f9;

$dark: #4e4b48; //#333;
$darker: #333;

$mid: #8c847e;

// FONTS
$geo: 'Muli', Helvetica, Trebuchet, sans-serif;
$sans: 'Source Sans Pro', Lucida, sans-serif;
$serif: 'Source Serif Pro', Georgia, sans-serif;

//BREAKS
$break-small: 480px;
$break-mid: 720px;
